#parra1 {
    color:burlywood;
    background-color:darkcyan;
    padding: 0;
    margin: 0;
    border: 0;
}

#parra2 {
    text-align: justify;
    font-size: 125%;
    font-family: Verdana;
    padding: 0;
    margin: 0;
}

.cabecera {
    color:cornsilk;
    text-decoration: double;
    text-align: center;
    font-size: 300%;
    background-image: url(https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52379.jpg);
    background-size:cover;
    margin: auto;
    margin-right: 50%;
}

a {
    color:black;
    text-decoration: none;
}

.indice {
    align-items: center;
    text-align: center;
    background-color: darkseagreen;
}

ol {
    list-style:armenian
}

ul {
    list-style:upper-roman;
}